
<div class="card">
	<div class="table-title">
	  <h2>Contacts Table</h2>
	</div>
	<div class="button-container">
	  <button class="danger" title="Delete Selected">
		<svg viewBox="0 0 448 512" width="16" title="trash-alt">
		  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path>
		</svg>
	  </button>
	  <button class="primary" title="Add New Data">
		<svg viewBox="0 0 512 512" width="16" title="plus-circle">
		  <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"></path>
		</svg>
	  </button>
	  <button class="primary" title="edit">
		<svg viewBox="0 0 512 512" width="16" title="plus-circle">
		  <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"></path>
		</svg>
	  </button>
	</div>
	<div class="table-concept">
	  <input class="table-radio" type="radio" name="table_radio" id="table_radio_0" checked="checked"/>
	  <div class="table-display">Showing 1 to 5
		of 5 items
	  </div>
	  <table>
		<thead>
		  <tr>
			<th></th>
			<th>No</th>
			<th>FIRST HEADER</th>
			<th>SECOND HEADER</th>
			<th>THIRD HEADER</th>
			<th>FOURTH HEADER</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<td>
			  <input type="checkbox"/>
			</td>
			<td>1</td>
			<td>This is Item number 1-1</td>
			<td>This is Item number 2-1</td>
			<td>This is Item number 3-1</td>
			<td>This is Item number 4-1</td>
		  </tr>
		  <tr>
			<td>
			  <input type="checkbox"/>
			</td>
			<td>2</td>
			<td>This is Item number 1-2</td>
			<td>This is Item number 2-2</td>
			<td>This is Item number 3-2</td>
			<td>This is Item number 4-2</td>
		  </tr>
		  <tr>
			<td>
			  <input type="checkbox"/>
			</td>
			<td>3</td>
			<td>This is Item number 1-3</td>
			<td>This is Item number 2-3</td>
			<td>This is Item number 3-3</td>
			<td>This is Item number 4-3</td>
		  </tr>
		  <tr>
			<td>
			  <input type="checkbox"/>
			</td>
			<td>4</td>
			<td>This is Item number 1-4</td>
			<td>This is Item number 2-4</td>
			<td>This is Item number 3-4</td>
			<td>This is Item number 4-4</td>
		  </tr>
		  <tr>
			<td>
			  <input type="checkbox"/>
			</td>
			<td>5</td>
			<td>This is Item number 1-5</td>
			<td>This is Item number 2-5</td>
			<td>This is Item number 3-5</td>
			<td>This is Item number 4-5</td>
		  </tr>
		</tbody>
	  </table>
	</div>
  </div>