<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="add_contact">
				<app-title text="Add Contact"></app-title>
				<app-form-row data="Contact Name"></app-form-row>
				<app-form-row data="Phone Number"></app-form-row>
				<app-form-row data="Adress"></app-form-row>
				<app-form-row data="Notes"></app-form-row>
                <app-btn text="add" colour="200deg, 100%, 20%"></app-btn>
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

