<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="delete_contact">
                <app-title text="Delete Contact"></app-title>
                <span>Delete Selected Elemnts?</span>
                <app-btn text="Click TO Confirm " colour="200deg, 100%, 20%"></app-btn>
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>